body{
    background-color: pink;
    color: rebeccapurple;
    font-family: 'Lobster', cursive;
    font-size: 18px;
}

.container{
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.image{
    border-radius: 10%;
}

.group{
    display: flex;
}

.text{
    text-align: center;
    display: flex;
}

.text-h{
    border: 0;
    padding: 0;
    word-spacing: 10px;
}

.text-p{
    margin-left: 200px;
    margin-top: 10px;
    padding: 0;
    border: 0;
    word-spacing: 5px;
}

table, th, td{
    margin-left: 100px;
    width: 400px;
    height: 50px;
    border-collapse: collapse;
    border: 2mm ridge palevioletred;
}

@media(max-width:40%){
    .container{
        text-align: center;
    }
}

/* KNOPKA */

input{
    background-color: pink;
    color: rebeccapurple;
    border-color: palevioletred;
    margin-top: 50px;
    margin-left: -55%;
    width: 300px;
    height: 100px;
    display: block;
}

input:active{
    background: rebeccapurple;
}

input:hover{
    color: black;
    cursor: pointer;
    opacity: 0.8;
}